ul.cards li.card {
    transition: all 0.4s cubic-bezier(.63, .15, .03, 1.00);
}

ul.cards li.card.card-1 {
    z-index: 10;
    transform: rotateZ(-2deg);
}

ul.cards li.card.card-2 {
    z-index: 9;
    transform: rotateZ(-7deg);
    transition-delay: 0.05s;
}

ul.cards li.card.card-3 {
    z-index: 8;
    transform: rotateZ(5deg);
    transition-delay: 0.1s;
}

ul.cards-split {
    list-style-type: none;
    position: relative;
    margin: 0 auto 20px;
    cursor: pointer;
}

ul.cards-split li.title {
    margin: 0 0 20px;
}

ul.cards-split li.title h2 {
    font-weight: 700;
}

ul.cards-split li.card {
    overflow: hidden;
    position: absolute;
    transition: all 0.4s cubic-bezier(.63, .15, .03, 1.00);
}

ul.cards-split li.card.card-1 {
    z-index: 10;
    transform: rotateZ(-2deg);
}

ul.cards-split li.card.card-2 {
    z-index: 9;
    transform: rotateZ(-7deg);
    transition-delay: 0.05s;
}

ul.cards-split li.card.card-3 {
    z-index: 8;
    transform: rotateZ(5deg);
    transition-delay: 0.1s;
}

ul.cards-split-delay {
    width: 100%;
    height: auto;
    list-style-type: none;
    position: relative;
    padding: 20px;
    cursor: pointer;
}

ul.cards-split-delay li.card {
    background: #FFF;
    overflow: hidden;
    border-radius: 10px;
    left: 40%;
    box-shadow: 1px 2px 2px 0 #aaa;
    transition: all 0.4s cubic-bezier(.63, .15, .03, 1.00);
}

ul.cards-split-delay li.card img {
    max-width: 100%;
    height: auto;
}

ul.cards-split-delay li.card div.content {
    padding: 5px 10px;
}

ul.cards-split-delay li.card.card-1 {
    z-index: 10;
    transform: rotateZ(-2deg);
}

ul.cards-split-delay li.card.card-2 {
    z-index: 9;
    transform: rotateZ(-7deg);
}

ul.cards-split-delay li.card.card-3 {
    z-index: 8;
    transform: rotateZ(5deg);
    transition-delay: 0s;
}

ul.cards-split-delay.transition li.card.card-1 {
    left: 18%;
}

ul.cards-split-delay.transition li.card.card-2 {
    left: 60%;
}

ul.cards-split-delay.transition li.card.card-3 {
    left: 40%;
}
